<app-login></app-login>
<br>
<smart-button [isStartButton]="true" [userID]="get_user()" [comp_ID]='31'></smart-button>
<br>
<smart-button [isStartButton]="false" [userID]="get_user()" [comp_ID]='31'></smart-button>
<br>
<br>
<smart-button [isStartButton]="true" [userID]="get_user()" [comp_ID]='78'></smart-button>
<br>
<smart-button [isStartButton]="false" [userID]="get_user()" [comp_ID]='78'></smart-button>
<br>
<br>
<edit-share></edit-share>
<smart-text-box [userID]="get_user()" [comp_ID]='23'></smart-text-box>
<smart-text-box [userID]="get_user()" [comp_ID]='34'></smart-text-box>

