<app-login></app-login>
<br>
<br>
<br>
<br>
<smart-button [isStartButton]="true" [userID]="get_user()" [componentID]='31'></smart-button>
<br>
<smart-button [isStartButton]="false" [userID]="get_user()" [componentID]='31'></smart-button>
<br>
<br>
<smart-button [isStartButton]="true" [userID]="get_user()" [isEditingVisable]='false' [text]="'edit Strat'" [componentID]='78'></smart-button>
<br>
<smart-button [isStartButton]="false" [userID]="get_user()" [text]="'edit end'" [componentID]='78'></smart-button>
<br>
<br>
<smart-text-box [userID]="get_user()" [componentID]='23'></smart-text-box>
<smart-text-box [userID]="get_user()" [componentID]='34'></smart-text-box>
<br>
<br>
<br>
<smart-text-box [userID]="get_user()" [componentID]="'hello!IanText!'"></smart-text-box>
<br>
<br>
<edit-share></edit-share>

