<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <ng-container *ngIf="!this.router.url.includes('/Login')">
            <mat-toolbar>Menu</mat-toolbar>

            <mat-nav-list>
                <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="ex2">{{this.username}}</span>
            <button class="ex1" type="button" mat-icon-button (click)="this.logout()" *ngIf="!this.router.url.includes('/Login')">
              Logout 
            </button>

            <!--this is the title for the blue nav-->
        </mat-toolbar>
        <!-- <app-dash></app-dash> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>