<mat-card class="dashboard-card">
    <mat-card-header>

    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div>
            <h1 class="demo-3-main-h1">Change Password</h1>
            <br/>

            <label class="form-group">
                <input #currPassInput type="password" class="form-control" id="exampleCurrPass" placeholder="Enter Current Password">
            </label>
            <p></p>
            <br/>
            <label class="form-group">
                <input #newPassInput type="password" class="form-control" id="exampleInputNewPassword" placeholder="Enter New Password">
            </label>
            <p></p>
            <br/>
            <label class="form-group">
                <input #newPassRepInput type="password" class="form-control" id="exampleInputRepNewPassword" placeholder="Repeat New Password">
            </label>
            <p></p>
            <br/>
            <button input type="submit" mat-raised-button color="primary" (click)="changePassword(currPassInput.value, newPassInput.value, newPassRepInput.value)">Change Password</button>
            <!-- <button input type="submit" mat-raised-button color="primary">Change Password</button> -->
        </div>
    </mat-card-content>
</mat-card>