<mat-card class="dashboard-card">
    <mat-card-content class="dashboard-card-content">
        <div>
            <h1 class="demo-3-main-h1">Create Manager</h1>
            <br/>
            <label class="form-group">
                <input #usernameInput type="username" class="form-control" id="exampleUsername" placeholder="Enter username">
            </label>
            <p></p>
            <br/>
            <label class="form-group">
                <input #passwordInput type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </label>
            <p></p>
            <br/>
            <button mat-raised-button color="primary" (click)="createManamager(usernameInput.value, 'figureoutLater', passwordInput.value)">create</button>


        </div>
    </mat-card-content>


</mat-card>